[tools]
go = "1.25.4"
gofumpt = "0.9.2"
goreleaser = "2.12"
gotestsum = "1.13.0"

[tasks.build]
run = '''
go build ./...
'''

[tasks.test]
run = '''
gotestsum ./...
'''

[tasks.lint]
depends = [
	['gofumpt', '-l'],
]

[tasks.gofumpt]
usage = '''
arg "<mode>" default="-w" help="Mode for running gofumpt" {
	choices "-d" "-w" "-l"
}
'''
run = '''
gofumpt ${usage_mode} *.go **/*.go
'''

[tasks.build-release]
run = '''
goreleaser release --clean
'''
